{% extends pagelayout is defined ? pagelayout : "eZDemoBundle::pagelayout.html.twig"  %}

{% block content %}

    <h1>{{ ez_render_field( content, 'name' ) }}</h1>

    {% include form_template with { form: form, form_action: path( "ez_urlalias", { locationId: location.id } )} %}

    {% if show_results  %}
        <h2>{{ 'Search results'|trans }}</h2>

        <p>{{ 'Found:'|trans }} {{ pager.getNbResults() }}</p>

        <section class="content-view-full">
            <div class="class-folder row">
                <div class="span8">
                    <section class="content-view-children">
                    {% for hit in pager %}
                        {{ render( controller( "ez_content:viewLocation", {"locationId": hit.valueObject.contentInfo.mainLocationId, "viewType": "line"} )
                            ) }}
                    {% endfor %}
                    </section>
                </div>
            </div>
        </section>

    {% else %}
        <section class="content-view-full">
            <div class="class-folder row">
                <div class="span8">
                    <section class="content-view-children">
                        {{ render(controller('NetgenHybridApproachBundle:Default:getChildren', {'locationId': location.id})) }}
                    </section>
                </div>
            </div>
        </section>
    {% endif %}

{% endblock %}